
<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd"
         version="5.0">

    <servlet>
        <servlet-name>AuthServlet</servlet-name>
        <servlet-class>com.example.hotel.servlets.AuthServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>AuthServlet</servlet-name>
        <url-pattern>/login</url-pattern>
        <url-pattern>/signup</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>UserServlet</servlet-name>
        <servlet-class>com.example.hotel.servlets.UserServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>UserServlet</servlet-name>
        <url-pattern>/edit-user</url-pattern>
        <url-pattern>/user-details</url-pattern>
        <url-pattern>/admin/users</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>AdminViewServlet</servlet-name>
        <servlet-class>com.example.hotel.servlets.AdminViewServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>AdminViewServlet</servlet-name>
        <url-pattern>/admin-dashboard</url-pattern>
    </servlet-mapping>

    <!-- Staff View Servlet -->
    <servlet>
        <servlet-name>StaffViewServlet</servlet-name>
        <servlet-class>com.example.hotel.servlets.StaffViewServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>StaffViewServlet</servlet-name>
        <url-pattern>/staff-list</url-pattern>
        <url-pattern>/create-staff</url-pattern>
        <url-pattern>/edit-staff</url-pattern>
        <url-pattern>/staff-details</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>RoomsServlet</servlet-name>
        <servlet-class>com.example.hotel.servlets.RoomsServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>RoomsServlet</servlet-name>
        <url-pattern>/create-room</url-pattern>
        <url-pattern>/edit-room</url-pattern>
        <url-pattern>/rooms-list</url-pattern>
        <url-pattern>/admin/rooms</url-pattern>
        <url-pattern>/room-details</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ContentViewServlet</servlet-name>
        <servlet-class>com.example.hotel.servlets.ContentViewServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>ContentViewServlet</servlet-name>
        <url-pattern>/content-list</url-pattern>
        <url-pattern>/create-content</url-pattern>
        <url-pattern>/edit-content</url-pattern>
        <url-pattern>/content-details</url-pattern>
    </servlet-mapping>


    <!-- Reservation View Servlet -->
    <servlet>
        <servlet-name>ReservationViewServlet</servlet-name>
        <servlet-class>com.example.hotel.servlets.ReservationViewServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>ReservationViewServlet</servlet-name>
        <url-pattern>/create-reserve</url-pattern>
        <url-pattern>/edit-reservation</url-pattern>
        <url-pattern>/reservation</url-pattern>
        <url-pattern>/my-reservations</url-pattern>
        <url-pattern>/admin-reservations</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>FeedbackViewServlet</servlet-name>
        <servlet-class>com.example.hotel.servlets.FeedbackViewServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>FeedbackViewServlet</servlet-name>
        <url-pattern>/admin-feedback</url-pattern>
    </servlet-mapping>

    <!-- Welcome File List -->
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>

    <!-- Session Configuration -->
    <session-config>
        <session-timeout>30</session-timeout>
    </session-config>
</web-app>
